@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat;
    color: #333333;
}

.container {
    /* background-color: rgba(100, 50, 0, 0.5); */
    max-width: 1240px;
    width: 90%;
    margin-inline: auto;
    overflow: hidden;
}

h2 {
    font-size: 3.3rem;
    font-weight: 700;
    color: #333333;
}

h3 {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
    
}

h4 {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
}

.button {
    background-color: #EF3829;
    padding: 1rem;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 0.5rem;
    display: inline-block;
    margin: 1rem 0;
    -webkit-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.6);
    box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.6);

    transition: all .5s ease-in-out;
}

.button:hover {
    background-color: #FF851B;
    transform: translateY(-10px);
}

section[id] {
    scroll-margin-top: 150px;
    /* border: 4px solid green; */
}

/* .observer-root-margin {
    pointer-events: none;
    z-index: 1000;
    border: 4px solid blue;
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 70%;
} */


/* Estilos para la cabecera */

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}


/* Banner */
.banner {
    background-color: #EF3829;
    width: 100%;
}

.banner__content {
    height: 50px;
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    color: #FFFFFF;
    font-size: 1rem;
}

/* Estilos para el menu */
nav{
    background-color: #FFFFFF;
}

.nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
}

.nav__logo {
    width: 40%;
    max-width: 170px;
}

.nav__img {
    width: 100%;
    max-height: 70px;
}

.nav__list {
    list-style: none;
    display: flex;
    /* gap: 1.5rem; */
}

.nav__link {
    text-decoration: none;
    color: #5B5D68;
    font-size: 1.2rem;
    padding: 1rem;
    transition: all .5s;
}

.nav__link:hover {
    background-color: #F5842B;
    color: #FFFFFF;
}

.nav__link.active {
    background-color: #EF3829;
    color: #FFFFFF;
}

.nav__toggle {
    cursor: pointer;
    display: none;
}

.nav__toggle i {
    font-size: 2rem;
}

.nav__toggle.active .fa-bars {
    display: none;
}

.nav__toggle.active .fa-times {
    display: block;
}


/* Estilos para la sección Inicio */
#inicio {
    background-image: url(/images/fondo-1.jpg);
    margin-top: 150px;
    scroll-margin-top: 150px;
}

.inicio__content {
    display: flex;
    gap: 5rem;
}

.inicio__figure {
    width: 50%;
    padding: 4rem 0 0 0;
}

.inicio__img {
    width: 100%;
    height: 100%;
}

.inicio__form{
    width: 50%;
    background-color: #FFFFFF;
    margin: 4rem 0;
    border-radius: 0.4rem;
    padding: 2rem;
}

.inicio__form p {
    color: #212121;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.inicio__form input, textarea {
    font-size: 1rem;
    color: #666666;
    padding: 15px 10px;
    background-color: #FAFAFA;
    border-color: #666666;
    border-width: 1px;
    border-radius: 5px;
    margin: 10px 0;
}

.inicio__form button {
    background-color: #EF3829;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #FFFFFF;
    padding: 15px 30px;
    margin: 10px 0;
    -webkit-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.6);
    box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.6);
    transition: all 1s ease;
}

.inicio__form button:hover {
    background-color: #FF851B;
}

.inicio__banner {
    background-color: #EF3829;
}

.inicio__banner__content {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
    flex-wrap: wrap;
}

.inicio__banner__texto p {
    color: #FFFFFF;
    margin: 10px 0;
    font-size: 2rem;
}

.inicio__banner__texto p:nth-child(2) {
    font-weight: 700;
}

.inicio__banner__acciona {
    text-align: center;
}

.inicio__banner__accion a {
    background-color: #FFFFFF;
    padding: 15px 40px;
    text-decoration: none;
    color: #EF3829;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.6);
    box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.6);

    transition: all 1s ease;
}

.inicio__banner__accion a:hover {
    transform: translate(10px 0);
    background-color: #FF851B;
    color: #FFFFFF;
}

.inicio-banner-accion a i {
    margin-right: 5px;
}


/* Estilos para la sección Planes */
#planes {
    text-align: center;
    padding: 4rem 0;
}

.planes__content img {
    width: 100%;
    margin: 2rem 0;
}

.planes__banner {
    display: flex;
    gap: 2rem;
}

.planes__banner__left, .planes__banner__right{
    width: 50%;
    display: flex;
}

.planes__banner__left {
    text-align: left;
    flex-direction: column;
    gap: .5rem;
}

.planes__banner__left p {
    font-size: 2rem;
    font-weight: 700;
}

.planes__banner__left :nth-child(1) {
    color: #EF3829;
}

.planes__banner__left :nth-child(2) {
    margin-bottom: .5rem;
}

.planes__banner__left i {
    color: #EF3829;
    font-size: 1.5rem;
}

.planes__banner__left span {
    color: #333333;
    margin-left: .8rem;
    font-family: Montserrat;
    font-size: 1.2rem;
}

.planes__banner__right {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.planes__banner__right p {
    font-size: 1.5rem;
    font-weight: 700;
}


/* Estilos para la sección Qué quieres hoy */
#que__quieres {
    background-color: #F5842B;
}

.quieres__title {
    width: 100%;
    height: 190px;
    text-align: center;
    padding: 4rem;
}

.quieres__title h2 {
    color: #FFFFFF;
}

.quieres__cards {
    background-color: #e8f6ff;
}

.card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: -2rem;
}

.card {
    background-color: #FFFFFF;
    width: 15%;
    padding: 2rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.6);
    box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.6);
}

.card img {
    width: 100%
}

.card p {
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    word-break: break-word;
}

.quieres__banner {
    background-color: #e8f6ff;
    padding: 0 0 4rem 0;
}

.quieres__banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.quieres__banner__content p {
    font-size: 1.5rem;
}


/* Estilos para la sección Quienes somos */
.somos__content {
    padding: 4rem 0;
    display: flex;
    gap: 4rem;
}

.somos__left, .somos__right {
    width: 50%;
}

.somos__left img {
    width: 100%;
}

.somos__right h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.somos__right p {
    line-height: 1.5rem;
    text-align: justify;
}

.somos__right .parrafo2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #EF3829;
    font-weight: 700;
    font-size: 1.5rem;
}


/* Estilos para la sección Cómo funciona */
#como__funciona {
    background-color: #f0f5ff;
    padding: 4rem 0;
}

.funciona__title h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.funciona__content {
    width: 100%;
    background-image: url(/images/fondo-2.jpg);
    background-position: center;
}

.funciona__card__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 9rem 0;
}

.funciona__card {
    background-color: #FFFFFF;
    width: 22%;
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    -webkit-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.6);
    box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.6);
}

.funciona__card img {
    width: 100%;
    max-width: 100px;
    margin-bottom: 1rem;
}

.funciona__card :nth-child(2) {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.funciona__card :nth-child(3) {
    font-size: 1.2rem;
}

.funciona__footer {
    padding: 4rem 0 0 0;
    display: flex;
    gap: 4rem;
}

.funciona__footer__left {
    width: 50%;
}

.funciona__footer__left p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem 0;
}

.funciona_footer__right {
    width: 50%;
}

.funciona_footer__right img {
    width: 100%;
    object-fit: cover;
}


/* Estilos para el footer */
footer {
    background-color: #0F3B9A;
    padding: 4rem 0;
}

.footer {
    text-align: center;
}

.footer img {
    max-width: 150px;
    margin-bottom: 1rem;
}

.footer p {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}


/* ============ ESTILOS PARA LOS BOTONES FLOTANTES ============ */
.btns__floats {
    /* background-color: #F5842B; */
    position: fixed;
    width: 60px;
    height: 130px;
    bottom: 30px;
    right: 30px;
}

.btn__go__top, .btn__wha {
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .3);
    transition: all .5s ease;
}

.btn__go__top {
    display: none;
    background-color: #EF3829;
    margin-bottom: 10px;
    
}

.btn__go__top:hover {
    background-color: #F5842B;
}

.show__btn {
    display: block;
}

.btn__wha {
    display: block;
    background-color: #43C354;
    position: absolute;
    bottom: 0;
}

.btn__wha:hover {
    background-color: #FFFFFF;
    color: #43C354;
} 



/* Media query para móviles */
@media screen and (max-width: 768px) {
    /* Estilos para la navegación */
    .nav__list {
        display: none;
        background-color: #FFFFFF;
        flex-direction: column;
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        padding: 5%;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    }

    .nav__list.active {
        display: flex;
    }

    .nav__link {
        display: block;
    }

    .nav__toggle {
        display: block;
        color: #5B5D68;
    }

    .nav__toggle .fa-bars {
        display: block;
    }
    
    .nav__toggle .fa-times {
        display: none;
    }

    /* Estilos para la sección Inicio */
    .inicio__content {
        flex-direction: column;
    }

    .inicio__figure {
        width: 100%;
    }

    .inicio__form {
        margin-top: 0;
        width: 100%;
    }

    .inicio__banner {
        padding: 2rem 0;
        text-align: center;
    }

    .inicio__banner__content {
        flex-direction: column;
        gap: 2rem;
    }

    .inicio__banner__accion {
        margin-bottom: 2rem;
    }

    /* Estilos para la sección Planes */
    .planes__banner__left i {
        font-size: 1rem;
    }

    /* Estiloa para la sección Qué quieres hoy */
    .card__list {
        flex-wrap: wrap;
    }

    .card {
        width: 30%;
    }

    /* Estilos para la sección Quienes somos */
    .somos__content {
        flex-direction: column-reverse;
    }

    .somos__left, .somos__right {
        width: 100%;
    }

    .somos__right__action {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Estilos para la sección Cómo funciona */
    .funciona__content {
        background-position: center;
    }

    .funciona__card__list {
        flex-wrap: wrap;
        gap: 1rem;
        padding: 3rem 0;
    }

    .funciona__card {
        width: 48%;
    }

    .funciona__footer {
        flex-direction: column;
    }

    .funciona__footer__left, .funciona_footer__right {
        width: 100%;
    }

    .funciona__footer__left {
        text-align: center;
    }
}